* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.student-records h2 {
  margin-bottom: 30px;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 2px;
}
